
{% extends 'base.html.twig' %}

{% block title %}Enchere{% endblock %}

{% block body %}
<div class="card">
        <div class="container d-flex flex-column justify-content-center min-vh-100 py-5">
            <div class="text-center pt-4 mt-lg-2">
<h1>{{ auction.nom }}</h1>
<p>Prix de départ : {{ (auction.startingPrice / 100) | number_format(2,',','.') }} $</p>
<p>Fin de l'enchère : {{ auction.dateCreation|date('Y-m-d H:i:s') }}</p>

<h2>Enchères actuelles</h2>
<ul id="bids">
    {% for bid in auction.purchases %}
        <li>{{ bid.users.nom }} : {{ (bid.amount / 100) | number_format(2,',','.')  }} $ ({{ bid.purchaseDate|date('Y-m-d H:i:s') }})</li>
    {% endfor %}
</ul>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h2>Placer une enchère</h2>
    <form action="{{ path('auction_bid', {'id': auction.id}) }}" method="post" id="bid-form">
        <div>
            <label for="amount">Montant de l'enchère :</label>
            <input type="number" id="amount" name="amount" min="{{ convert }}" step="0.01" required>
        </div>
        <button type="submit">Placer l'enchère</button>
    </form>
{% else %}
    <p><a href="{{ path('security_login') }}">Connectez-vous</a> pour placer une enchère.</p>
{% endif %}
   </div>
      </div>
         </div>
         <br />
<script>
    var conn = new WebSocket('ws://localhost:8000');
    var bidsElement = document.getElementById('bids');
    var form = document.getElementById('bid-form');

    conn.onmessage = function(e) {
        var newBid = JSON.parse(e.data);
        var newBidElement = document.createElement('li');
        newBidElement.textContent = newBid.username + ' : ' + (newBid.amount / 100) + ' $ (' + newBid.bidTime + ')';
        bidsElement.appendChild(newBidElement);
    };

    form.addEventListener('submit', function(event) {
        event.preventDefault();
        var amount = document.getElementById('amount').value;

        fetch(form.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(form))
        }).then(response => response.json()).then(data => {
            conn.send(JSON.stringify(data));
        });
    });
</script>
{% endblock %}