{% extends 'base.html.twig' %}


{% block body %}




            <form action="{{ path('auction_show', {id : produit.id}) }}">
                <div class="card">

                    <div class="card-header">
                        {{ produit.nom }}
                    </div>
                      <div class="card-body">
                      
                        <div class="row">
                            <div class="col">
                                <img src="{{ produit.image }}" class="card-img-top" alt="...">
                                <p class="card-text">{{ produit.description }}</p>
                                <p class="card-text" id="currentPrice">Prix de depart : <strong>{{ (produit.startingPrice / 100) | number_format(2,',','.') }}$+Taxes</strong></p>
                          
                   
                                <p class="card-text">
    
                                    <small class="text-body-secondary">
                                       Fin de l'enchere : {{ produit.dateCreation | date('d/m/Y') }} a
                                      {{ produit.dateCreation | date('H:i') }}
                                   </small>
                                </p>
                                <button type="submit" class="btn btn-dark" id="bidButton">Faire une enchere</button>
                            </div>
                            <div class="col">
                                <h2>Liste des personnes ayant fait l'enchere</h2>
                          
  {% set sortedPurchases = produit.purchases|sort((a, b) => b.purchaseDate <=> a.purchaseDate) %}                      
        {% if isAuctionEnded %}
        {% if hight %}
            <p>Winning bid: {{ (hight.amount/ 100)  | number_format(2,',','.') }} by {{ hight.users.nom }}</p>
        {% else %}
            <p>vous avez perdu</p>
        {% endif %}
    {% else %}
            {% for purchase in sortedPurchases %}
        <div class="card bg-dark text-white">  
             
                                <p><strong>Nom:</strong> {{ purchase.users.nom }} - <strong>Prénom:</strong> {{ purchase.users.prenom }}</p>
                                                         <p><strong>Date d'achat:</strong> {{ purchase.purchaseDate|date('d/m/Y') }}</p>
                          
                        <p><strong>Prix de l'enchere recent:</strong> {{  (purchase.amount / 100)  | number_format(2,',','.')  }}$+Taxes</p>
  
                
                        </div>
                        
                        <br />
                 
                    {% endfor %}   
    {% endif %}


      
              
          {% if isWinner %}

        <a href="{{ path('card_add', {'id' : hight.id}) }}">Bid</a>
   
    {% endif %}
               

                         
               
               
           
           
                        </div>
                    </div>
                    
                
                </div>
                </div>
              </form>
       
<br />
<br />
 <script>
        // Passez la date de fin de PHP à JavaScript
        const endDate = new Date("{{ produit.dateCreation  |date('Y-m-d H:i:s') }}");
        const currentDate = new Date();

        if (currentDate > endDate) {
            document.getElementById('bidButton').disabled = true;
            bidButton.textContent = 'Enchere terminee';
            bidButton.style.backgroundColor = 'red';
            bidButton.style.color = 'white';
        }
    </script>
{% endblock %}