{% extends 'base.html.twig' %}

{% block title %}Page d'inscription{% endblock %}

{% block body %}
 <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
         <div class="card-header">
            <h5 class="card-title">Page d'inscription</h5>
          </div>
          <div class="card-body">
         
    {{ form_start(form) }}
    <div class="mb-3"> 
    <div class="row">
      <div class="col">
        {{ form_row(form.nom, {'label':'Nom','attr':{'placeholder' : 'Nom'}}) }}
      </div>
      <div class="col">  
        {{ form_row(form.prenom, {'label':'Prenom','attr':{'placeholder' : 'Prenom'}}) }}
      </div>
    </div>
    </div>
     <div class="mb-3">
    {{ form_row(form.email, {'label':'Email','attr':{'placeholder' : 'Email'}}) }}
     </div>
     <div class="mb-3">
    {{ form_row(form.password, {'label':'Mot de passe','attr':{'placeholder' : 'Mot de passe'}}) }}
    </div>
    <div class="mb-3">
    {{ form_row(form.confirm_password, {'label':'Confirmer mot de passe','attr':{'placeholder' : 'Confirmer mot de passe'}}) }}
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-dark">Confirmer l'inscription</button>
    </div>
    {{ form_end(form) }}
    </div>
</div>
</div>
</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock %}
